.about-wrapper {
    display: block;
    width: 40%;
    margin: 2em auto;

    mat-card {
        width: 100%;
        margin-bottom: 1em;

        .card-header {
            text-align: center;
            .title {
                margin-bottom: 0;
            }
            .subtitle {
                padding-bottom: 1em;
                border-bottom: 1px solid gray;
            }
        }

        .card-content {
            width: 90%;
            margin: auto;
            text-align: center;

            .info {
                text-align: center;
                h3 {
                    margin-top: 0.3em;
                    font-weight: bold;
                }
        
                h4 {
                    font-weight: bold;
                    color:darkorange;
                }
            }

            ul {
                list-style-type: square;
            }

            a {
                font-weight: bold;
                color: black;
                
            }
        }
    }
}