<div class="about-wrapper">
    <mat-card>
        <div class="card-header">
            <h2 class="title">SquareIT!</h2>
            <h3 class="subtitle">A game about squares and matching numbers</h3>
        </div>
        <div class="card-content">
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Match the numbers on the adjacent sides of the squares.</li>
                <li>You can achieve this by rotating a square to the right.</li>
                <li>You have limited number of steps, so think ahead!</li>
                <li>The final score is the sum of the paired numbers.</li>
                <li>Toplist works with default table size only: 4x3, with 10 steps</li>
            </ul>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-header">
            <h3 class="title">About...</h3>
        </div>
        <div class="card-content">
            <p>This game was developed as a demo repository using MEAN stack.</p>
            <p>2021 &copy; PGram</p>
        </div>
    </mat-card>
</div>