<div class="about-wrapper">
    <mat-card>
        <div class="card-header">
            <h2 class="title">SquareIT!</h2>
            <h3 class="subtitle">A game about squares and matching numbers</h3>
        </div>
        <div class="card-content">
            <h3><b>Rules:</b></h3>
            <ul>
                <li>Match the numbers on the adjacent sides of the squares.</li>
                <li>You can achieve this by rotating a square to the right.</li>
                <li>You have limited number of steps, so think ahead!</li>
                <li>The final score is the sum of the paired numbers.</li>
                <li>Toplist works with default table size only: 4x3, with 10 steps</li>
            </ul>
        </div>
    </mat-card>
    <mat-card>
        <div class="card-content">
            <div class="info">
                <h3>TERMS OF USE</h3>
                <p>This is a demo MEAN stack application, free to test and use.</p>
                <h4>Please note that secure user management is not implemented yet and the password is exposed!</h4>
                <p>By creating a new user you accept the above, so make sure to use a simple, fake password like '123'!</p>
            </div>
            <p>2021 &copy; <a href="https://pgram.hu" target="_blank">PGram</a></p>
        </div>
    </mat-card>
</div>