.header-container {
  margin-bottom: 4em;

  .header {
    height: 60px;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
  }

  .player {
    margin: 0 2em;

    button {
      width: 6em;
      margin: 0 1em;
    }
  }
}