.header-container {
  margin-bottom: 4em;

  .hamburger-icon {
    margin-right: 2em;
  }

  .header {
    height: 60px;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
  }

  .title {
    font-size: 1.8em;
    margin-right: 0.2em;
  }

  a {
    text-decoration: none;
  }

  .player {
    margin: 0 2em;

    button {
      
      margin: 0 1em;
    }
  }
}