<div class="setup-wrapper">
    
    <div class="input-field">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Number of steps</mat-label>
            <input matInput type="number" [formControl]="stepsFormControl" maxlength="2" placeholder="10" value="10">
            <mat-error *ngIf="!stepsFormControl.hasError('required')">
                Please enter a number. Default: 10
            </mat-error>
            <mat-error *ngIf="stepsFormControl.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="input-field">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Board Width</mat-label>
            <input matInput type="number" [formControl]="widthFormControl" maxlength="2" placeholder="4" value="4">
            <mat-error *ngIf="!widthFormControl.hasError('required')">
                Please enter a number. Default: 4
            </mat-error>
            <mat-error *ngIf="widthFormControl.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="input-field">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Board Height</mat-label>
            <input matInput type="number" [formControl]="heightFormControl" maxlength="2" placeholder="3" value="3">
            <mat-error *ngIf="!heightFormControl.hasError('required')">
                Please enter a number. Default: 3
            </mat-error>
            <mat-error *ngIf="heightFormControl.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <button class="input-button" mat-raised-button color="primary" (click)="onSubmit()">Save & Play!</button>
    <button class="input-button" mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>
