.infobar-wrapper {
    margin: 2em auto 0em auto;
    align-items: center;

    .infobar {
        display: flex;
        justify-content: center;

        .norotates {
            color: red;
        }

        h2 {
            margin: 0.5em;
        }
    }

    .buttonbar {
        display: flex;
        justify-content: center;

        button {
            margin: 0 1em;
        }
    }
}