.toplist-wrapper {
    display: block;
    width: 300px;
    margin: 2em auto;

    mat-card {
        width: 100%;
        margin-bottom: 1em;

        .card-header {
            display: flex;
            justify-content: center;
            text-align: center;

            .hof-icon {
                font-size: 2.5em;
                margin-right: 0.5em;
            }
            .hof-text {
                margin-bottom: 0;
            }
        }

        .loading {
            margin-top: 2em;
            text-align: center;

            .load-icon {
                animation: rotation 2s infinite linear;
            }
        }

        .card-content {
            width: 90%;
            margin: auto;

            ol {
                font-size: 1.2em;
            }
        }

        .toplist-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
        }

        .toplist-body {
            display: flex;
            justify-content: space-between;
        }
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }