<div class="toplist-wrapper">
    <mat-card>
        <div class="card-header">
            <mat-icon class="hof-icon">emoji_events</mat-icon>
            <h2 class="hof-text">
                Hall of Fame
            </h2>
        </div>
        <div class="card-content">
            <div class="loading" *ngIf="!player.topplayers">Loading...<br>
                <mat-icon class="load-icon">refresh</mat-icon>
            </div>
            <ol *ngIf="player.topplayers">
                <div class="toplist-header">
                    <span>Name</span>
                    <span>Score</span>
                </div>
                <li *ngFor="let p of player.topplayers | slice : 0 : 10">
                    <div class="toplist-body">
                        <span><b>{{ p.name }}</b></span>
                        <span>{{ p.score }}</span>
                    </div>
                </li>
            </ol>
        </div>
    </mat-card>

